<aside>
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
            <div class="teamLogo">
                <a href ="/"><img src="/img/logo.png" alt="logo"></a>
                <h3>CCCPro</h3>
                <p>Design Team</p>
            </div>
            <div id = "census-variable">
                <div class="dropdown-btn">
                    <span>Business Level vs Human Behavior<i class="fa fa-caret-down"></i> </span>
                </div>
                <div class="dropdown-container">
                    <div class = "option">
                        <a href="/map/coffee" class="active map cur" value = "coffee">
                            
                            <span class="item">Scenario 1: Coffee</span>
                        </a>
                    </div>
                    <div class = "option">
                        <a href="/analysis/coffee" class="active analysis">
                            
                            <span class="item">Coffee: Analysis</span>
                        </a>
                    </div>
                     <div class = "option">
                        <a href="/map/negativeemotion" class="active map" value = "negative">
                            
                            <span class="item">Scenario 2: Negative emotion</span>
                        </a>
                    </div>
                    <div class = "option">
                        <a href="/analysis/negativeemotion" class="active analysis">
                            
                            <span class="item">Negative Word: Analysis</span>
                        </a>
                    </div>
                    <div class = "option">
                        <a href="/map/entertainment" class="active map" value = "entertainment">
                            
                            <span class="item">Scenario 3: Entertainment</span>
                        </a>
                    </div>
                    <div class = "option">
                        <a href="/analysis/entertainment" class="active analysis">
                            
                            <span class="item">Entertainment: Analysis</span>
                        </a>
                    </div>
                    <div class = "option">
                    <a href="/mastodon" class="active">
                        <span class="item">Real Time Mastodon</span>
                    </a>
                </div>
                </div>

                <div class="dropdown-btn">
                    <span>Social Media vs Human Behavior <i class="fa fa-caret-down"></i></span>
                </div>
                <div class="dropdown-container">
                    <div class = "option">
                    <a href="/map/climate" class="active" value = "climate">
                        
                        <span class="item">Scenraio 4 Climate Change</span>
                    </a>
                </div>
                 <div class = "option">
                    <a href="/map/health" class="active" value = "health">
                        
                        <span class="item">Scenraio 5 Health Risk Factor</span>
                    </a>
                </div>
                 <div class = "option">
                    <a href="/map/unemployment" class="active" value = "unemployment">
                        
                        <span class="item">Scenraio 6 Unemployment</span>
                    </a>
                </div>
                </div>
                 
            </div>
        </div>
    </aside>
<script>
 let map = document.querySelectorAll(".map")
 for(let i =0; i<map.length;i++){
     map[i].addEventListener("click",()=>{
         console.log(map[i])
        let target = document.querySelector(".cur")
         target.classList.remove("cur")
         map[i].classList.add("cur")
     })
 }
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    console.log("1",this.nextElementSibling)
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>