<aside>
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
            <div class="teamLogo">
                <img src="/img/logo.png" alt="logo">
                <h3>CCCPro</h3>
                <p>Design Team</p>
            </div>
            <ul id = "census-variable">
                {{!-- <li>
                    <a href="/" value = "bg" class = "active cur">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Background</span>  
                    </a>
                </li> --}}
                <li>
                    <a href="/map#" class="active map" value = "coffee">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Scenario 1: Coffee</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/1" class="active analysis">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Coffee: Analysis</span>
                    </a>
                </li>
                 <li>
                    <a href="/map#" class="active map" value = "negative">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Scenario 2: Negative emotion</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/2" class="active analysis">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Negative Word: Analysis</span>
                    </a>
                </li>
                 <li>
                    <a href="/map#" class="active map" value = "entertainment">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Scenario 3: Entertainment</span>
                    </a>
                </li>
                <li>
                    <a href="/analysis/3" class="active analysis">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Entertainment: Analysis</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>