{
    "api_base_url": "{{ mastodon_servers[ansible_nodename].api_base_url }}",
    "access_token": "{{ mastodon_servers[ansible_nodename].access_token }}",
    "couchdb_username": "{{ couchdb.username }}",
    "couchdb_password": "{{ couchdb.password }}",
    "couchdb_ip_address": "{{ couchdb.ip_address }}",
    "couchdb_port_number": "{{ couchdb.port_number }}"
}