<div id="template">
    {{>aside}}
    <div id = "analysis" value= {{id}}>
        <div id="analysisDetail">
            <div><h3>Scenraio {{id}}</h3></div>
            <div id ="hypo">{{showContentById id}}</div>
        </div>
        <div id = "myDiv"></div>
    </div>
</div>

{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
{{!-- <script type = "module" src = "/js/analysis.js"></script> --}}
