<div id="homepage">
        <div id = "subjectInfo">
                <div id = "subjectTitle">
                    <div>COMP90024</div>
                    <div>Assignment2</div>
                </div>
                <div id = "summary"><i>To explore the connection between human behavior and business distribution and how  social media reflect human behavior</i></div>
        </div>
        <a href="/map/coffee">
          <!-- HTML !-->
            <button class="button-19" role="button">Start To Explore</button>
        </a>
        <table>
            <caption>Present by Team: CCCPRO</caption>
            <thead>
                <tr>
                    <th>Team Member</th>
                    <th>Contact Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Xinlin Li</th>
                    <th>xinlin2@student.unimelb.edu.au</th>
                </tr>
                <tr>
                    <th>Jiayao Lu</th>
                    <th>jiayaol2@student.unimelb.edu.au</th>
                </tr>
                <tr>
                    <th>Feng Ji</th>
                    <th>jfj1@student.unimelb.edu.au</th>
                </tr>
                 <tr>
                    <th>Haichi Long</th>
                    <th>haichil@student.unimelb.edu.au</th>
                </tr>
                <tr>
                    <th>Hanying Li</th>
                    <th>hanying1@student.unimelb.edu.au</th>
                </tr>
            </tbody>
        </table>
</div>  