<div id="template">
    {{>aside}}
    {{!-- <div id = "mastodon">
        <div id = "pie"></div>
    </div> --}}
      <div id = "mastodon">
        <div class = "compare">
            <div id = "pie"></div>
         </div>
         <div class = "compare">
            <div id = "bar"></div>
         </div>
    </div>
</div>

<script src="/js/pieChart.js" type = "module"></script>
