<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/map.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="/css/background.css" />
    <link rel="stylesheet" type="text/css" href="/css/analysis.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="/js/map.js"></script>
    <script type="module" src="/js/analysis.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.20.0.min.js'></script>
    <title>Document</title>
</head>
<body>

    <main>
        {{{body}}}
    </main>


</body>
<script>

</script>
</html>